<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!--Import Google Icon Font-->
<link th:href="@{/css/icon.css}" rel="stylesheet"/>
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}" media="screen,projection" />
<link th:href="@{/css/style.css}" rel="stylesheet"/>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

	<div th:replace="fragments/header :: header"></div>
	
	<div th:replace="fragments/header :: menu-dados-cliente"></div>
	
	<div th:replace="sacola/index :: sacola"></div>

	<main>

	<div class="container">
		
		<br>
		
		<div class="chip green lighten-1 white-text" th:if="${not #strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}"></span> <i class="close material-icons">close</i>
		</div>
		
		<div class="row">
		
			<div class="col s12">
			
				<div class="card">
					<div class="card-content">
						<span class="card-title">Meus Dados</span>
						
						<div class="row">
						
							<form class="col s12" method="post" th:object="${cliente}">
	
								<div class="row">
	
									<div class="input-field col s6">
										<input id="nome" type="text" th:field="*{nome}" th:value="${cliente.nome}" class="validate" th:classappend="${#fields.hasErrors('nome')} ? invalid" data-length="20"> 
										<span class="red-text" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
										<label for="nome">Nome</label>
									</div>
	
									<div class="input-field col s6">
										<input id="sobrenome" type="text" th:field="*{sobrenome}" th:value="${cliente.sobrenome}" class="validate" th:classappend="${#fields.hasErrors('sobrenome')} ? invalid" data-length="20"> 
										<span class="red-text" th:if="${#fields.hasErrors('sobrenome')}" th:errors="*{sobrenome}"></span>
										<label for="sobrenome">Sobrenome</label>
									</div>
	
								</div>
								
								<div class="row">
	
									<div class="input-field col s12">
										<input disabled id="cpf" type="text" th:value="${cliente.cpf}" class="validate" th:classappend="${#fields.hasErrors('cpf')} ? invalid" data-mask="000.000.000-00"> 
										<span class="red-text" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
										<label for="cpf">CPF</label>
									</div>
	
								</div>
								
								<div class="row">
	
									<div class="input-field col s12">
										<input type="text" th:field="*{dataNascimento}" th:value="${cliente.dataNascimento}" class="datepicker validate" th:classappend="${#fields.hasErrors('dataNascimento')} ? invalid" data-mask="00/00/0000"> 
										<span class="red-text" th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}" ></span>
										<label>Data de Nascimento</label>
									</div>
	
								</div>
								
								<div class="row">
	
									<div class="input-field col s6">
										<input disabled id="email" type="text" th:value="${cliente.email}" class="validate" th:classappend="${#fields.hasErrors('email')} ? invalid"> 
										<span class="red-text" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
										<label for="email">E-mail</label>
									</div>
	
									<div class="input-field col s6">
										<input id="senha" type="password" th:field="*{senha}" th:value="${cliente.senha}" class="validate" th:classappend="${#fields.hasErrors('senha')} ? invalid"> 
										<span class="red-text" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></span>
										<label for="senha">Senha</label>
									</div>
	
								</div>
								
								<input type="hidden" th:field="*{codigo}" th:value="${cliente.codigo}">
								<input type="hidden" th:field="*{email}" th:value="${cliente.email}">
								<input type="hidden" th:field="*{cpf}" th:value="${cliente.cpf}">
								<button class="btn waves-effect waves-light red darken-1" type="submit" name="action"> Salvar </button>
								
							</form>
							
						</div>
					</div>

				</div>
		
			</div>
			
		</div>
		
	</div>

	</main>
	
	<div th:replace="fragments/header :: js"></div>

</body>
</html>